* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

header {
    
  & h1,
  p {
    white-space: nowrap;
  }

  & p {
    @media screen and (max-width: 414px) {
      font-size: 1rem !important;
    }
  }
}

.skills {
  margin-top: 2% !important;
  display: flex;
  justify-content: center;
  & ul li {
    white-space: nowrap;
    text-align: left;
    & span:nth-child(2) {
      text-align: left;
      display: inline-flex;
      align-items: flex-start;
    }
    @media screen and (max-width: 414px) {
      font-size: 1rem !important;
    }
  }
}
.more-info ul {
  display: flex;
  justify-content: center;
  margin-top: 3%;

  & a:not(:nth-child(3)) {
    margin-right: 3%;
  }
}
